@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi Everybody!</h1>
    <h2 class="display-4">Welcome to Smpl Solutions Tech</h2>
    <p>A community-driven SaaS to make the future of development Smpl! 
        Users will have access to generate projects and files that are templated to the best practices of both previous and current programming languages. 
        SmplSolutionsTech is here to be a solution to enter information once an get the templated resources you need to accelerate your project. 
        We are a launching pad for your developer journey and any and all are welcome to help contribute!</p>
    <p>Find the project on <a href="https://github.com/ProdigalTechie/smplsolutionstech" target="_blank">GitHub</a></p>
    <p>Find Prodigal Techie on <a href="https://www.youtube.com/channel/UCLc0GYCqeUxlw69uwngr-cQ" target="_blank">YouTube</a></p>
    <p>Find Prodigal Techie  on <a href="https://www.twitch.tv/prodigaltechie" target="_blank">Twitch</a></p>
    <p>Find Prodigal Techie  on <a href="https://twitter.com/ProdigalTechie" target="_blank">Twitter</a></p>

    @*@using (Html.BeginForm("SendEmail", "Home", FormMethod.Post))
    {
        <button type="submit" onclick="">Click Me!</button>
    }*@
        
    
    
</div>
